$white       : #FFFFFF;
$black       : #000000;
$text        : #6e6e6e;
$green       : #097d93;
$darkgreen   : #087085;
$orange      : #fb8800;
$blue        : #264664;

$primarycolor   : $text;
$secondarycolor : $blue;