<table cellpadding="4" cellspacing="1" border="0">
<tr>
	<td class="field-backing-title" colspan="2"><h3>{labels.giftcerts.giftCertsDetailsTitle}</h3></td>
</tr>
<tr>
	<td class="field-backing-title" valign="top"><font class="normal-field-title">From:</font></td>
	<td class="field-backing-content" valign="top"><font class="normal-field-content">{giftcertificate.details.field.fromname.content}</font></td>
</tr>
<tr>
	<td class="field-backing-title" valign="top"><font class="normal-field-title">To:</font></td>
	<td class="field-backing-content" valign="top"><font class="normal-field-content">{giftcertificate.details.field.toname.content}</font></td>
</tr>
<tr>
	<td class="field-backing-title" valign="top"><font class="normal-field-title">Message:</font></td>
	<td class="field-backing-content" valign="top"><font class="normal-field-content">{giftcertificate.details.field.messageFormatted.content}</font></td>
</tr>
<tr>
	<td class="field-backing-title" valign="top"><font class="normal-field-title">Amount:</font></td>
	<td class="field-backing-content" valign="top"><font class="normal-field-content">{giftcertificate.details.field.amount.content}</font></td>
</tr>
<tr>
	<td class="field-backing-title" valign="top"><font class="normal-field-title">Email:</font></td>
	<td class="field-backing-content" valign="top"><font class="normal-field-content">{giftcertificate.details.field.certEmail.content}</font></td>
</tr>
</table>
<p>
