<div class="sideNav medium-3 columns left">
    <div class="banner-wrap">
        <a href="https://domuslaundryequipment.co.uk/" target="_blank">
            <img src="images/banners/domus.jpg" alt="">
            <div class="banner-hover">
                <div class="description-inner">
                    <h4>Domus<span>Laundry Equipment</span></h4>
                    <div class="button-display"><span>Click Here!</span></div>
                </div>
            </div>
        </a>
    </div>
    <div class="banner-wrap">
        <a href="https://maglaundryequipment.co.uk/products/drying-irons/" target="_blank">
            <img src="images/banners/ironers.jpg" alt="">
            <div class="banner-hover">
                <div class="description-inner">
                    <h4>Ironing<span>Dryers and Ironers</span></h4>
                    <div class="button-display"><span>Click Here!</span></div>
                </div>
            </div>            
        </a>
    </div>
    <div class="banner-wrap">
        <a href="https://maglaundryequipment.co.uk/total-on-site-laundry-support/" target="_blank">
            <img src="images/banners/servicing.jpg" alt="">
            <div class="banner-hover">
                <div class="description-inner">
                    <h4>Servicing<span>Need an Engineer?</span></h4>
                    <div class="button-display"><span>Click Here!</span></div>
                </div>
            </div>            
        </a>
    </div>
    <div class="banner-wrap">
        <a href="https://maglaundryequipment.co.uk/commercial-laundry-parts/" target="_blank">
            <img src="images/banners/parts.jpg" alt="">
            <div class="banner-hover">
                <div class="description-inner">
                    <h4>Laundry<span>Parts &amp; Spares</span></h4>
                    <div class="button-display"><span>Click Here!</span></div>
                </div>
            </div>            
        </a>
    </div>
</div>
