<BASE HREF="{shop.baseDir}">
<script language="JavaScript1.2" src="{shop.baseDir}resources/jserver.js" type="text/javascript"></script>
<link href="stylesheet.css" rel="stylesheet" type="text/css" >	
<link href="/templates-pcs/includes/shop_stylesheet.css" rel="stylesheet" type="text/css" >

<!-- WebStatsNOW web tools statistics hit counter code -->
<script type="text/javascript" id="wa_u"></script>
<script type="text/javascript">//<![CDATA[
wa_account="west63rd_mag1"; wa_location=17;
wa_pageName=location.pathname;  // you can customize the page name here
document.cookie='__support_check=1';wa_hp='http';
wa_rf=document.referrer;wa_sr=window.location.search;
wa_tz=new Date();if(location.href.substr(0,6).toLowerCase()=='https:')
wa_hp='https';wa_data='&an='+escape(navigator.appName)+ 
'&sr='+escape(wa_sr)+'&ck='+document.cookie.length+
'&rf='+escape(wa_rf)+'&sl='+escape(navigator.systemLanguage)+
'&av='+escape(navigator.appVersion)+'&l='+escape(navigator.language)+
'&pf='+escape(navigator.platform)+'&pg='+escape(wa_pageName);
wa_data=wa_data+'&cd='+
screen.colorDepth+'&rs='+escape(screen.width+ ' x '+screen.height)+
'&tz='+wa_tz.getTimezoneOffset()+'&je='+ navigator.javaEnabled();
wa_img=new Image();wa_img.src=wa_hp+'://loc1.hitsprocessor.com/statistics.asp'+
'?v=1&s='+wa_location+'&acct='+wa_account+wa_data+'&tks='+wa_tz.getTime();
document.getElementById('wa_u').src=wa_hp+'://loc1.hitsprocessor.com/track.js'; //]]>
</script>
<!-- End WebStatsNOW statistics web tools hit counter code -->
</head>
<body>
<table width="751px"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2"><a href="index.php"><img src="images/header.jpg" width="751" height="120" border="0" alt="Mag Commercial Laundry Equipment Suppliers"></a></td>
  </tr>
  <tr>
    <td colspan="2"></td>
  </tr>
  <tr>
    <td width="200px" rowspan="2" valign="top" id="leftcell_bg">
	<table width="200px" border="0" cellspacing="0" cellpadding="0" id="nav">
      <tr>

        <td id="nav_bg"><a href="index.php">Homepage</a></td>
      </tr>
      <tr>
        <td id="nav_bg"><a href="page.php?xPage=about_us.html">About Us</a></td>
      </tr>
      <tr>
         <td id="nav_bg"><a href="page.php?xPage=finance_lease.html">Finance and Lease</a></td>

      </tr>
	<tr>
         <td id="nav_bg"><a href="page.php?xPage=rental.html">Rental</a></td>

      </tr>
      <tr>
        <td id="nav_bg"><a href="page.php?xPage=markets.html">Markets</a></td>
      </tr>
	  <tr>
        <td class="sub"><a href="page.php?xPage=nursing_homes.html">Care &amp; Nursing Homes</a></td>
      </tr>
	  <tr>
        <td class="sub"><a href="page.php?xPage=hotels.html">Hotels &amp; Guest Houses</a></td>
      </tr>
	  <tr>
        <td class="sub"><a href="page.php?xPage=vets.html">Vets</a></td>
      </tr>
	  <tr>
        <td class="sub"><a href="page.php?xPage=schools.html">Schools</a></td>
      </tr>
	  <tr>
        <td class="sub"><a href="page.php?xPage=set_equine.html">Equine</a></td>
      </tr>
	  <tr>
        <td class="sub"><a href="page.php?xPage=nurseries.html">Nurseries</a></td>
      </tr>
	  <tr>
        <td class="sub"><a href="page.php?xPage=set_launderette.html">Laundrettes</a></td>
      </tr>
	  <tr>
        <td class="sub"><a href="page.php?xPage=camping.html">Camping</a></td>
      </tr>
	  <tr>
        <td class="sub"><a href="page.php?xPage=food.html">Food</a></td>
      </tr>
	  <tr>
        <td class="sub"><a href="page.php?xPage=export.html">Export</a></td>
      </tr>
	  <tr>
        <td class="sub"><a href="page.php?xPage=health.html">Health</a></td>
      </tr>
	  <tr>
        <td class="sub"><a href="page.php?xPage=prison.html">HMS Prisons</a></td>
      </tr>

	<tr>
        <td id="nav_bg"><a href="index.php">Products</a></td>
      </tr>
      <tr>
        <td id="nav_bg"><a href="page.php?xPage=second_hand.html">We Buy Used Equipment</a></td>
      </tr>

      <tr>
        <td id="nav_bg"><a href="page.php?xPage=mag_news.html">News</a></td>
      </tr>
      <tr>
        <td id="nav_bg"><a href="page.php?xPage=news.html">Testimonials</a></td>

      </tr>
	
      	<!--
	<tr>
        	<td id="nav_bg"><a href="http://213.160.117.23/cateringmachines.co.uk" target="_new">Catering</a></td>
	</tr>
	-->
        <tr>
        <td id="nav_bg"><a href="contact.php?xCmd=send">Contact Us</a></td>
      </tr>
	 <tr>
        <td id="nav_bg"><a href="page.php?xPage=vacancies.html">Jobs / Opportunities</a></td>
      </tr>
    </table>
	
			
	
	<table width="200" border="0" cellspacing="0" cellpadding="0" id="leftcell_bg">
    		<tr>
				<td><a href="page.php?xPage=interest_free_loans.html"><img src="images/credit_crunch.png" alt="Interest Free Loans" border="0"></a></td>
			</tr>
	 	</table>
			<!-- newsletter joining form -->
				<table cellpadding="1" cellpadding="0" border="0" style="border-right: 1px solid #000">
					
					<tr>
						<td align="center" class="menu-backing-title"><h3>{labels.navigation.joinNewsletterTitle}</h3></td>
					</tr>
					<form name="{newsletter.join.form.name}" method="POST" action="{newsletter.join.form.action}" onSubmit="{newsletter.join.form.onSubmit}">
					<tr>
						<td align="center"><font class="menu-normal-text">{labels.newsletter.instructions}</font></td>
					</tr>
					<tr>
						<td align="center"><input type="text" name="{newsletter.join.form.emailaddress}" size="20" class="textbox"></td>
					</tr>
					
					<tr>
						<td align="center"><input type="submit" name="submit" value="{labels.newsletter.joinButton}" class="button"></form><br /></td>
					</tr>
				</table>
			<!-- /newsletter joining form -->
			
			
	
	<table width="200" border="0" cellspacing="0" cellpadding="0" id="leftcell_bg">
    		<tr>
			<td><a href="section.php?xSec=7" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('reconditioned_banner','','images/reconditioned_banner_roll.jpg',1)"><img src="images/reconditioned_banner.jpg" name="reconditioned_banner" width="200" height="172" border="0" alt="Primus, Giabau, Huebsch, Schulthess, Ipso, Maytag, Whirlpool Commercial Reconditioned Washing Machines & Dryers"></a><br /></td>
		</tr>
   		<tr>
    			<td align="center" style="border-right: 1px solid #000">
        			
				<!-- search -->
        			<table cellpadding="0" cellpadding="0" border="0">
        				<tr>
        					<td valign="top" class="menu-backing-title"><h3>Product Search</h3></td>
        				</tr>
					<tr>
              					<td valign="top"><form name="{search.form.name}" method="GET" action="{search.form.action}" onSubmit="{search.form.onsubmit}"><input type="text" name="{search.form.string}" value="{search.query}" class="textbox" size="15">&nbsp;<input type="submit" name="submit" value="Go" class="button"></form></td>
					</tr>
        
      				</table>
				<br />
        			<!-- /search -->
  			</td>
  		</tr>
		<tr>
    			<td><a href="page.php?xPage=specialoffers.html"><img src="images/specialoffers_banner.jpg" border="0"></a></td>
	 	</tr>
		<!--<tr>
    			<td><a href="section.php/63/0"><img src="images/adc.jpg" border="0" alt="ADC Products"></a></td>
	 	</tr>
		<tr>
    			<td><a href="section.php/64/0"><img src="images/girbau.jpg" border="0" alt="Girbau Products"></a></td>
	 	</tr>
		<tr>
    			<td><a href="section.php/61/0"><img src="images/ipso.jpg" border="0" alt="Ipso Products"></a></td>
	 	</tr>
		<tr>
    			<td><a href="section.php/83/0"><img src="images/lelit_small.jpg" border="0" alt="Le Lit Products"></a></td>
	 	</tr>
		<tr>
    			<td><a href="section.php/69/0"><img src="images/primus.jpg" border="0" alt="Primus Products"></a></td>
	 	</tr>
		<tr>
    			<td><a href="section.php/62/0"><img src="images/schulthess.jpg" border="0" alt="Schulthess Products"></a></td>
	 	</tr>
		<tr>
    			<td><a href="section.php/59/0"><img src="images/whirlpool.jpg" border="0" alt="Whirlpool Products"></a></td>
	 	</tr>
		-->
		
		
	</table>
<td valign="top" id="main">

<table cellspacing="0" cellpadding="2" border="0" width="100%">
<tr>
<td align="center" colspan="4" class="field-backing-title">
    <div class="topusermenu">
    <a href="index.php" title="Go to our homepage">Home</a> | 
		<#if:customer.allowed:eq:Y#>
			<#if:customer.loggedin:eq:N#>
				<a href="{customer.accountlink}" title="{labels.customer.loginButton}">{labels.customer.loginButton}</a> | 
				<a href="{customer.registerlink}" title="{labels.navigation.openAccountLink}">{labels.navigation.openAccountLink}</a> | 
			<#else#>
				<a href="customer.php?xCmd=account" title="{labels.account.accountHomeLink}">{labels.account.accountHomeLink}</a> | 
				<a href="{customer.logoutlink}" title="labels.customer.logoutLink">{labels.customer.logoutLink}</a> | 
			<#/if#>
		<#/if#>	

<#if:cart.totals.products:gt:0#>
	<a href="{cart.link}" title="{labels.navigation.cartLink}">{labels.navigation.cartLink}</a> | 
	<a href="{checkout.link}" title="{labels.navigation.checkoutLink}">{labels.navigation.checkoutLink}</a> | 
<#/if#>
	<a href="contact.php?xCmd=send" title="{labels.navigation.contactLink}">{labels.navigation.contactLink}</a>&nbsp;
	</div>
	</td>
	
</tr>