<#include:includes/top.html#>
	
	<!-- CONTENT SECTION FEATURE -->
	
	<!-- PAGE CONTENT HEADER -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td>
	<h1>{labels.customer.reviewThanksPageTitle}</h1> <!-- PAGE TITLE -->
	<h2>{labels.review.product} {customer.review.product.name}</h2> <!-- PAGE SUB TITLE -->
	<p>{labels.review.reviewThanks}</p> <!-- PAGE INSTRUCTIONS -->
	<p><a href="{customer.review.product.link}" class="middle-links">{labels.customer.reviewReturnToProductLink}</a></p>
	</td>
	</tr>
	</table>
	<!-- /PAGE CONTENT HEADER -->

		<!-- PAGE CONTENT -->



		<!-- /PAGE CONTENT -->
	<!-- /CONTENT SECTION FEATURE -->

<#include:includes/bottom.html#>

