<#include:includes/top.html#>
</table>
<h1>Customers</h1>

<p><b>Here is a selection of companies that we have supplied /installed equipment for.</b><br><br></p>

<center>
<table width="500" align="center" cellpadding="0" cellspacing="0" border="0">
<tr>
	<td align="center"><img src="images/logos/barcelo.jpg" border="0" alt="Barceló Hotels &amp; Resorts"><img src="images/logos/orchard.jpg" border="0" alt="Orchard Care Homes"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/rushton_hall.jpg" border="0" alt="Rushton Hall"><img src="images/logos/tate_lyle.jpg" border="0" alt="Tate &amp; Lyle"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/hull_college.jpg" border="0" alt="Hull College, Goole College"><img src="images/logos/rainbow_int.jpg" border="0" alt="Rainbow International"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/shed_media.jpg" border="0" alt="Shed Media"><img src="images/logos/campbells_group.jpg" border="0" alt="Campbells Group"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/marines.jpg" border="0" alt="Royal Marines"><img src="images/logos/chessington.jpg" border="0" alt="Chessington World of Adventures"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/sutton_coldfield_college.jpg" border="0" alt="Sutton Coldfield College"><img src="images/logos/tussauds_group.jpg" border="0" alt="The Tussauds Group"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/college_of_beauty.jpg" border="0" alt="Yorkshire College of Beauty Therapy"><img src="images/logos/gleneagles.jpg" border="0" alt="Gleneagles"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/ulster_uni.jpg" border="0" alt="University of Ulster"><img src="images/logos/high_meadow.jpg" border="0" alt="High Meadow"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/crowne_plaza.jpg" border="0" alt="Crowne Plaza"><img src="images/logos/harewood.jpg" border="0" alt="Harewood"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/eden_court.jpg" border="0" alt="Eden Court"><img src="images/logos/bury_metro.jpg" border="0" alt="Bury Metro"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/ef.jpg" border="0" alt="EF International Language Schools"><img src="images/logos/met_police.jpg" border="0" alt="Metropolitan Police"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/ugc_store.jpg" border="0" alt="UGC Store"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/autism_care.jpg" border="0" alt="Autism Care UK"><img src="images/logos/west_midlands_police.jpg" border="0" alt="West Midlands Police"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/school_of_theology.jpg" border="0" alt="London School of Theology"><img src="images/logos/freedom_holidays.jpg" border="0" alt="French Freedom Holidays"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/british_red_cross.jpg" border="0" alt="British Red Cross"><img src="images/logos/mmcg.jpg" border="0" alt="Maria Mallaband Care Group"></td>	
</tr>
<tr>
	<td align="center"><img src="images/logos/swansea_nhs_trust.jpg" border="0" alt="Swansea NHS Trust"></td>
</tr>
<tr>
	<td align="center"><img src="images/logos/horse_trust.jpg" border="0" alt="The Horse Trust"></td>
	
</tr>
</table>





</center>




<#include:includes/bottom.html#>

