<#include:includes/top.html#>
<div id="mainContainerInner" class="medium-12 columns">
    <div class="row mrgBtm50">
        <div class="medium-6 columns">
            <img src="images/container_depot.jpg" alt="" style="width:100%;">
        </div>
        <div class="medium-6 columns">
            <h1>Laundry Equipment Export International</h1>
            <ul>
                <li>Full commercial laundry in Columbia</li>
                <li>Holiday park in France</li>
                <li>Wash & dry service in Denmark</li>
                <li>Hotel & Spar in italy</li>
                <li>Launderette & Ironing service in germany</li>
                <li>We can supply and delivery to almost anywhere in the world.  Please contact our Export dept.</li>
            </ul>
        </div>
    </div>
</div>
<#include:includes/bottom_sidebar.html#>
<#include:includes/bottom.html#>