<#include:includes/top.html#>
<div id="mainContainerInner" class="medium-9 columns right">
    <h1>Finance and Lease</h1>
    <p>Making cleaning fun and buying easy!</p>
    <p>MAG Equipment Ltd not only delivers quality products direct, but supplies peace of mind with technical support and after sales to all our 
        customers whatever the size. With this in mind, we have created a partnership with our unique Leasing company to allow you to 
        purchase the best possible equipment easily and with the minimum of impact to your cashflow.</p>
    <img src="images/washerleasing.jpg"alt="Benefits of Leasing">
    <p>The Benefits of Leasing</p>
    <p><strong>100% Tax Efficient</strong> All payments qualify for up to 100% tax relief (unlike a bank loan), which can dramatically reduce costs, in most cases by around 21%.</p>
    <p><strong>Improved Cashflow</strong> Keep cash in your bank.</p>
    <p><strong>Unsecured Borrowing</strong> The equipment that is being leased is the only security that is generally necessary.</p>
    <p><strong>Spread VAT</strong> VAT is spread in equal chunks across the agreement (rather than payable upfront) minimising cashflow disruption.</p>
    <p><img src="images/taxreliefillustration.jpg" alt="Tax Relief Illustration"></p>
    <p style="clear:both; margin-left:-5px;"><iframe src="https://leaseman.shireleasing.co.uk/qq/qq_m3O.asp" width="500" height="650" scrolling="no"></iframe></p>
</div>
<#include:includes/sidebar.html#>

<#include:includes/bottom.html#>
