<#include:includes/top.html#>
<div id="mainContainerInner" class="medium-9 columns right">
    <p><img src="images/food.jpg" width="500" alt=""></p>

    <p><img src="images/production_line.jpg" alt="">MAG Laundry Equipment have been supplying this sector for many years. We fully understand the importance of laundry equipment in all Food environments.</p>
    <p>The food industry demands the utmost level of cleanliness and efficiency and we are dedicated to providing only the very best laundry equipment to all our customers. </p>
    <p>All our commercial laundry equipment meets all the up-to-date national care standard WRAS approval and of course the Health and Safety Guidelines HSG(95)18 programs are as standard on all our commercial washing machines.</p>

    <p><img src="images/tate_and_lyle.jpg" width="242" height="67" alt=""></p>
    <p>World renowned sugar manufactures Tate &amp; Lyle fully understand the importance of Hygiene and cleanliness in the working environment. We installed a 
        commercial washing machine to cope with their high volumes of staff workwear.</p>
</div>
<#include:includes/sidebar.html#>                        
<#include:includes/bottom.html#>