<#include:includes/top.html#>
	
	<!-- CONTENT SECTION FEATURE -->
	
	<!-- PAGE CONTENT HEADER -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td>
	<h1>{labels.customer.accountHomePageTitle}</h1> <!-- PAGE TITLE -->
	<h2>{labels.customer.forgottenPasswordPageTitle}</h2> <!-- PAGE SUB TITLE -->
	<p>{labels.customer.forgottenPasswordMessage}</p> <!-- PAGE INSTRUCTIONS -->
	</td>
	</tr>
	</table>
	<!-- /PAGE CONTENT HEADER -->

		<!-- PAGE CONTENT -->

		<table cellpadding="2" cellpading="0" border="0">
		<#if:customer.forgotpassword.error:eq:Y#>
		<tr>
			<td colspan="2" align="center"><font class="error-text">{labels.customer.forgottenPasswordEmailError}</font></td>
		</tr>
		<#/if#>
		<form name="{customer.forgotpassword.form.name}" method="POST" action="{customer.forgotpassword.form.action}" onSubmit="{customer.forgotpassword.form.onsubmit}">
		<tr>
			<td valign="top" align="center" class="field-backing-title"><font class="normal-field-content">{labels.customer.emailaddress}</font></td>
			<td valign="top" class="field-backing-content"><input type="text" name="{customer.forgotpassword.form.email}" value="{customer.email}" size="30" class="textbox"></td>
		</tr>
		<tr>
			<td valign="top" align="center" class="field-backing-content" colspan="2"><input type="submit" name="submit" value="{labels.customer.sendNewPasswordButton}" class="button"></td>
		</tr>	
		</form>
		</table>

		<!-- /PAGE CONTENT -->
	<!-- /CONTENT SECTION FEATURE -->

<#include:includes/bottom.html#>



