
<#include:includes/top.html#>
	
	<!-- CONTENT SECTION FEATURE -->
	
	<!-- PAGE CONTENT HEADER -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td>
	<h1>{labels.customer.accountHomePageTitle}</h1> <!-- PAGE TITLE -->
	<h2>{labels.customer.passwordSentPageTitle}</h2> <!-- PAGE SUB TITLE -->
	<p>{snippet=NewPasswordSent.content}. <a href="customer.php?xCmd=account" title="{labels.customer.loginButton}">{labels.customer.loginButton}</a>.</p> <!-- PAGE INSTRUCTIONS -->
	</td>
	</tr>
	</table>
	<!-- /PAGE CONTENT HEADER -->

		<!-- PAGE CONTENT -->



		<!-- /PAGE CONTENT -->
	<!-- /CONTENT SECTION FEATURE -->

<#include:includes/bottom.html#>
