<#include:includes/top.html#>
<p><img src="images/health_clubs.jpg" alt=""></p>
<p>MAG Laundry Equipment have been supplying this sector for many years. we fully understand the importance of laundry equipment in all health clubs and spas.</p>
<p>The health and fitness industry demands the utmost level of cleanliness and efficiency and we are dedicated to providing only the very best laundry 
    equipment to all our customers. </p>
<p>All our commercial laundry equipment meets all the up-to-date national care standard WRAS approval and of course the Health and Safety Guidelines HSG 
    (95)18 programs are as standard on all our commercial washing machines.</p>

<p><img src="images/gosling_logo.png" alt="">Gosling Sports Park laundry here is very important to the club demanding towels and robes to process.</p>
<p>Gosling Sports Park is a ground-breaking 52-acre sports and leisure complex in picturesque Welwyn Garden City, Hertfordshire. With facilities as diverse 
    as a 170m dry ski slope, the country's first indoor clay tennis courts, full size athletics and cycling tracks and much, much more, Gosling Sports Park is one 
    of the most comprehensive and prestigious developments of its kind in the UK.</p>
<#include:includes/bottom.html#>