<#include:includes/top.html#>
<div id="mainContainerInner" class="medium-12 columns">
    <div class="row mrgBtm50">
        <div class="medium-6 columns">
            <img src="images/crowne_plaza.jpg" alt="" style="width:100%;">
        </div>
        <div class="medium-6 columns">
            <h1>Hotel Laundry Equipment</h1>
            <p>MAG Laundry Equipment have been supplying this sector for many years and we fully understand the importance of laundry equipment in all Hotels and Guest 
                Houses.</p>
            <p>The Hotel &amp; Guest House industry demands the utmost level of cleanliness and efficiency and we are dedicated to providing only the very best laundry 
                equipment to all our customers. </p>
            <p>All our commercial laundry equipment meets all the up-to-date national care standard WRAS approval and of course the Health and Safety Guidelines HSG (95)18 
                programs are as standard on all our commercial washing machines.</p>

            <p>The Crowne Plaza, one of the World's most prestige hotel groups, require the best of the best when it comes to commercial laundry equipment. Bed linen to 
                bath robes need to be laundered to the highest quality. We are proud to be classed as an approved supplier to the group.</p>
        </div>
    </div>
</div>
<#include:includes/bottom_sidebar.html#>
<#include:includes/bottom.html#>