<#include:includes/top.html#>
<h1>News</h1>
<p>MAG Laundry Equipment are excited to announce the opening of their new purpose built premises near the centre of Halifax. The purchase and redvelopment process has been a huge investment for MAG and 2015 marks a big step forward since they opened in 2004.</p>
<p>The company has seen growth year on year over the past decade and they intend to continue this success in the future. Their new business premises, MAG House, welcomes many benefits including a state of the art showroom, an advanced sales centre, larger warehousing, plus an upgraded workshop and researching area.</p>

<div class="row mrgBtm50">
    <div class="medium-9 columns">
        <h3>Mag Laundry Primus Visit</h3>
        <p>We visited the factory in 2007 after we started to supply the full Primus range and now 12 months on we have many new Primus machines on site...</p>
    </div>
    <div class="medium-3 columns">
        <a href="page.php?xPage=primus_visit.html"><img src="images/primus_visit_small.jpg" alt=""></a>
        <a href="page.php?xPage=primus_visit.html">View Full Story</a>
    </div>
</div>
<div class="row mrgBtm50">
    <div class="medium-9 columns">
        <h3>www.carehomelaundry.com</h3>
        <p>Care home laundry is one of MAG's biggest sectors offering a total care package at the right price, we understand the importance of any laundry room in nursing & care home establishment, and respond to any breakdown with high priority. Our unique care rental plan offers all our customers piece of mind with just one manageable monthly payment that covers all there laundry machines. Nationwide service engineers that await your call.</p>
    </div>
    <div class="medium-3 columns">
        <a href="images/mag_carehomelaundry.jpg" target="_blank"><img src="images/mag_carehomelaundry_t.jpg" alt=""></a>
        <a href="images/mag_carehomelaundry.jpg" target="_blank">View Full Story</a>
    </div>
</div>
<div class="row mrgBtm50">
    <div class="medium-9 columns">
        <h3>New Installations for MAG UK</h3>
        <p>Hull College re-equip their laundry room over the summer break....</p>
    </div>
    <div class="medium-3 columns">
        <a href="images/hull_installation.pdf" target="_blank"><img src="images/news-hullcollege.jpg" alt=""></a>
        <a href="images/hull_installation.pdf" target="_blank">Download PDF</a>
    </div>
</div>
<div class="row mrgBtm50">
    <div class="medium-9 columns">
        <h3>MAG UK expands overseas</h3>
        <p>Exporting laundry equipment is a growing part of the business conducted by MAG UK. For example, the company - in conjunction with the Kensington Drycleaning Group with whom MAG UK work very closely - recently exported to Sri Lanka, Columbia...</p>
    </div>
    <div class="medium-3 columns">
        <a href="images/MAGUK.pdf" target="_blank"><img src="images/news_pdf.jpg" alt=""></a>
        <a href="images/MAGUK.pdf" target="_blank">Download PDF</a>
    </div>
</div>
<div class="row mrgBtm50">
    <div class="medium-9 columns">
        <h3>MAG UK Supplies Bad Girls</h3>
        <p>In association with Shed Productions, MAG UK supplied the very popular ITV television series 'Bad Girls' with laundry equipment...</p>
    </div>
    <div class="medium-3 columns">
        <a href="images/mag_shedpdf.jpg" target="_blank"><img src="images/newsbadgirls.gif" alt=""></a>
        <a href="images/mag_shedpdf.jpg" target="_blank">View Full Story</a>
    </div>
</div>
<div class="row mrgBtm50">
    <div class="medium-9 columns">
        <h3>MAG Equipments New Signing</h3>
        <p>Bradford City Football Club's Valley Parade ground is MAG UK's latest signing, installing new laundry equipment to process the team's training staff and players kits...</p>
    </div>
    <div class="medium-3 columns">
        <a href="images/mag_bcpdf.jpg" target="_blank"><img src="images/newsbradford.gif" alt=""></a>
        <a href="images/mag_bcpdf.jpg" target="_blank">View Full Story</a>
    </div>
</div>
<div class="row mrgBtm50">
    <div class="medium-9 columns">
        <h3>After The Rain</h3>
        <p>In association with Passion Pictures, MAG Laundry Equipment set the full launderette shop scene for the film After The Rain that is showing in September 2006...</p>
    </div>
    <div class="medium-3 columns">
        <a href="images/aftertherain.jpg" target="_blank"><img src="images/aftertherain.gif" alt=""></a>
        <a href="images/aftertherain.jpg" target="_blank">View Full Story</a>
    </div>
</div>
<#include:includes/bottom_sidebar.html#>
<#include:includes/bottom.html#>