<#include:includes/top.html#>
<section id="markets">
    <div class="row">
        <div class="large-2 medium-3 columns">
            <a href="page.php?xPage=nursing_homes.html"><img src="images/nursing_home.png" alt=""></a>
        </div>
        <div class="large-10 medium-9 columns">
            <h3><a href="page.php?xPage=nursing_homes.html">Care &amp; Nursing Homes</a></h3>
            <p><strong>Specialist supplier to the Care &amp; Nursing Sector.</strong></p>
            <p>All our laundry machines comply with all the latest regulations and HSG(95) 18 Guidelines.</p>
            <p><a href="page.php?xPage=nursing_homes.html">Click here to view some of the companies we support</a></p>
        </div>
    </div>
    <div class="row">
        <div class="large-2 medium-3 columns">
            <a href="page.php?xPage=hotels.html"><img src="images/hotels.png" alt=""></a>
        </div>
        <div class="large-10 medium-9 columns">
            <h3><a href="page.php?xPage=hotels.html">Hotels &amp; Guest Houses</a></h3>
            <p>From your local B &amp; B to the Crown Plaza Hotel, we can deal with your laundry equipment needs.</p>
            <p><a href="page.php?xPage=hotels.html">Click here to view some of the companies we support</a></p>
        </div>
    </div>
    <div class="row">
        <div class="large-2 medium-3 columns">
            <a href="page.php?xPage=vets.html"><img src="images/vets.png" alt=""></a>
        </div>
        <div class="large-10 medium-9 columns">
            <h3><a href="page.php?xPage=vets.html">Veterinary &amp; Animal Care</a></h3>
            <p>Animals are just as susceptible to bacteria as humans are so the right equipment is very important.</p>
            <p><a href="page.php?xPage=vets.html">Click here to view some of the companies we support</a></p>
        </div>
    </div>
    <div class="row">
        <div class="large-2 medium-3 columns">
            <a href="page.php?xPage=schools.html"><img src="images/schools.png" alt=""></a>
        </div>
        <div class="large-10 medium-9 columns">
            <h3><a href="page.php?xPage=schools.html">Schools &amp; Colleges</a></h3>
            <p><strong>Schools, colleges &amp; universities require the right commercial machines</strong></p>
            <p>We have the right advice at the right price.</p>
            <p><a href="page.php?xPage=schools.html">Click here to view some of the companies we support</a></p>
        </div>
    </div>
    <div class="row">
        <div class="large-2 medium-3 columns">
            <a href="page.php?xPage=set_equine.html"><img src="images/equine.png" alt=""></a>
        </div>
        <div class="large-10 medium-9 columns">
            <h3><a href="page.php?xPage=set_equine.html">Equine Laundry &quot;Horse Rugs&quot;</a></h3>
            <p>Horse rug cleaning is very demanding and the right laundry machine is important. We have supplied many equine laundry companies.</p>
            <p><a href="page.php?xPage=set_equine.html">Click here to view some of the companies we support</a></p>
        </div>
    </div>
    <div class="row">
        <div class="large-2 medium-3 columns">
            <a href="page.php?xPage=nurseries.html"><img src="images/nurseries.png" alt=""></a>
        </div>
        <div class="large-10 medium-9 columns">
            <h3><a href="page.php?xPage=nurseries.html">Nurseries &amp; Child Care</a></h3>
            <p><strong>Infection control is very important in this sector.</strong></p>
            <p>Thermal disinfection and cross contamination prevention is key.</p>
            <p><a href="page.php?xPage=nurseries.html">Click here to view some of the companies we support</a></p>
        </div>
    </div>
    <div class="row">
        <div class="large-2 medium-3 columns">
            <a href="page.php?xPage=set_launderette.html"><img src="images/laundrettes.png" alt=""></a>
        </div>
        <div class="large-10 medium-9 columns">
            <h3><a href="page.php?xPage=set_launderette.html">Laundrettes &amp; Laundries</a></h3>
            <p>Coin operated laundrettes and drop off laundries.</p>
            <p><a href="page.php?xPage=set_launderette.html">We have compiled a start-to-finish guide for you.</a></p>
        </div>
    </div>
    <div class="row">
        <div class="large-2 medium-3 columns">
            <a href="page.php?xPage=camping.html"><img src="images/camping.png" alt=""></a>
        </div>
        <div class="large-10 medium-9 columns">
            <h3><a href="page.php?xPage=camping.html">Camping &amp; Caravan Sites</a></h3>
            <p>Coin or token operated laundry equipment that is durable at the right price.</p>
            <p><a href="page.php?xPage=camping.html">Click here to view some of the companies we support</a></p>
        </div>
    </div>
    <div class="row">
        <div class="large-2 medium-3 columns">
            <a href="page.php?xPage=food.html"><img src="images/food.png" alt=""></a>
        </div>
        <div class="large-10 medium-9 columns">
            <h3><a href="page.php?xPage=food.html">Food Industry</a></h3>
            <p>Thermal disinfection &amp; hygiene. We can help.</p>
            <p><a href="page.php?xPage=food.html">Click here to view some of the companies we support</a></p>
        </div>
    </div>
    <div class="row">
        <div class="large-2 medium-3 columns">
            <a href="page.php?xPage=export.html"><img src="images/export.png" alt=""></a>
        </div>
        <div class="large-10 medium-9 columns">
            <h3><a href="page.php?xPage=export.html">Export</a></h3>
            <p>We have supplied laundry equipment all over the world.</p>
            <p><a href="page.php?xPage=export.html">Click here to view some of the companies we support</a></p>
        </div>
    </div>
    <div class="row">
        <div class="large-2 medium-3 columns">
            <a href="page.php?xPage=health.html"><img src="images/spas.png" alt=""></a>
        </div>
        <div class="large-10 medium-9 columns">
            <h3><a href="page.php?xPage=health.html">Health Spas &amp; Clubs</a></h3>
            <p>Towels and bath robes require the right laundry machine.</p>
            <p><a href="page.php?xPage=health.html">Click here to view some of the companies we support</a></p>
        </div>
    </div>
    <div class="row">
        <div class="large-2 medium-3 columns">
            <a href="page.php?xPage=prison.html"><img src="images/prison.png" alt=""></a>
        </div>
        <div class="large-10 medium-9 columns">
            <h3><a href="page.php?xPage=prison.html">HMS Prison Services</a></h3>
            <p>Industrial laundry equipment with fast processing times.</p>
            <p><a href="page.php?xPage=prison.html">Click here to view some of the companies we support</a></p>
        </div>
    </div>
</section>
<#include:includes/bottom.html#>