
<#include:includes/top.html#>
	
	<!-- CONTENT SECTION FEATURE -->
	
	<!-- PAGE CONTENT HEADER -->
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td>
	<h1>{labels.newsletter.unsubscribePageTitle}</h1> <!-- PAGE TITLE -->
	<h2>{snippet=NewsletterUnsubscribe.title}</h2> <!-- PAGE SUB TITLE -->
	<p>{snippet=NewsletterUnsubscribe.content}</p> <!-- PAGE INSTRUCTIONS -->
	<p><a href="javascript:history.back()">Back</a></p>
	</td>
	</tr>
	</table>
	<!-- /PAGE CONTENT HEADER -->


		<!-- /PAGE CONTENT -->
	<!-- /CONTENT SECTION FEATURE -->

<#include:includes/bottom.html#>
