<#include:includes/top.html#>

<div id="mainContainerInner" class="medium-9 columns right">
                        <h1>Nurseries</h1>
			<p><img src="images/baby.jpg" alt="" style="float:left; margin: 0 25px 25px 0">MAG Laundry Equipment have been supplying this sector for many years. We fully understand the 
			importance of laundry equipment in all Nurseries and Child Care Associations.</p>
			<p>The child care industry demands the utmost level of cleanliness and efficiency and we are dedicated to providing only the very best laundry equipment to 
			all our customers.</p>
			<p>All our commercial laundry equipment meets all the up-to-date national care standard WRAS approval and of course the Health and Safety Guidelines HSG 
			(95)18 programs are as standard on all our commercial washing machines.</p>

			<p><img src="images/tree_tops_logo.jpg" width="126" height="126" alt="" class="alignleft">
			Tree Tops Day Nursery (Cheltenham) realised the importance of their laundry equipment after constantly replacing their domestic machines. We supplied them 
			with high quality commercial washing machines and dryers to cope with the high laundry demand.</p>
			</div>
<#include:includes/sidebar.html#>
<#include:includes/bottom.html#>