<#include:includes/top.html#>
<div id="mainContainerInner" class="medium-9 columns right">
    <h1>Prison Laundry Equipment</h1>
    <img src="images/prison_services.jpg" alt="">

    <p><img src="images/prison_interior.jpg" width="210" height="166" alt="">
        MAG Laundry Equipment have been supplying this sector for many years. We fully understand the importance of laundry equipment in all Prisons.</p>
    <p>The Prison Industry demands the utmost level of cleanliness and efficiency and we are dedicated to providing only the very best laundry equipment to all 
        our customers. </p>
    <p>All our commercial laundry equipment meets all the up-to-date national care standard WRAS approval and of course the Health and safety Guidelines HSG 
        (95)18 programs are as standard on all our commercial washing machines.</p>
    <p><strong>HMS Durham</strong> need reliability and fast service as required. MAG Laundry Equipment supplied machines into the prison in March 2008.</p>
</div>
<#include:includes/sidebar.html#>
<#include:includes/bottom.html#>