<#include:includes/top.html#>
<div id="mainContainerInner" class="medium-12 columns right">
<h1>Privacy Statement</h1><br>
<p>

<strong>We have created this privacy statement in order to demonstrate our firm commitment to privacy. The following discloses our information gathering and dissemination practices for this web site.</strong><br>

<div id="terms_use">We use your IP address to help diagnose problems with our server, and to administer our Web site. Your IP address is used to help identify you and to gather broad demographic information.</div><br>

<div id="terms_use">Our site uses cookies to keep track of your shopping cart. We use cookies to identify you so we can retrieve your information so you don't have to re-enter it each time you visit our site.</div><br>

<div id="terms_use">Our site's registration form requires users to give us contact information, like their name and email address, and unique identifiers. We use customer contact information from the registration form to send the user information about our company. The customer's contact information is also used to contact the visitor when necessary if they have subscribed to the mail list. Users may opt-out of receiving future mailings by choosing to un-subscribe. Unique identifiers are collected to verify the user's identity and for use in our record system.</div><br>

<div id="terms_use">This site may contain links to other sites. We are not responsible for the privacy practices or the content of such web sites.</div><br>

<div id="terms_use">Our site uses an order form for customers to request information, products, and services. We collect visitor's contact information and unique identifiers. Contact information from the order form is used to send orders and information about our company to our customers. The customer's contact information is also used to get in touch with the visitor when necessary. Users may opt-out of receiving future mailings. Unique identifiers are collected from Web site visitors to verify the user's identity and for use as account numbers in our record system.</div><br>

<p><span class="dark_b">Security</span></p>

<div id="terms_use">This site has security measures in place to protect the loss, misuse and alteration of the information under our control. All data is protected using the most advanced methods available. We do not store financial information like credit card numbers or personal information like social security numbers on this site.</div><br>

<p><span class="dark_b">Un-Subscribe</span></p>

<dl><dt>This site gives users the following options for removing their information from our database to not receive future communications or to no longer receive mail list messages.</dt>

   <dd><a href="contact.php">You can send email to us by visiting the Contact Page</a></dd>

</dl><br>

<p><span class="dark_b">Correct/Update</span></p>

<dl><dt>This site gives users the following options for changing and modifying information previously provided.</dt>

   <dd><a href="contact.php">You can send email to us by visiting Contact Page</a></dd>
</dl></p>
</div>

<#include:includes/bottom_sidebar.html#>
<#include:includes/bottom.html#>