<#include:includes/top.html#>
</table>
<h1>MAG Machinery Rental Options</h1>
<center>
<img src="images/rental_offers.jpg" alt="Rental Offers" border="0" width="504" height"367"><br><br>
<p style="font-size: 22px; color:#333333;">Benefits of laundry equipment rental</p>
<ul style="font-size: 16px; line-height: 22px;">
	<li>Flexible Rental terms from 12 to 72 months</li>
	<li>No capital outlay</li>
	<li>The latest compliant machines available WRAS &amp; energy efficient</li>
	<li>Tax Efficient –Premiums fully tax deductible</li>
	<li>Fixed no inflation rises during rental term</li>
	<li>Free delivery &amp; Installation</li>
	<li>Free staff training</li>
</ul>

<hr style="height: 3px; background-color: #FF0000;">

<p style="font-size: 22px">CALL OUR RENTAL SALES ADVISORS NOW<br><br>01422 300589</p>

		
</center>
<#include:includes/bottom.html#>
