<#include:includes/top.html#>
	
	<!-- CONTENT SECTION FEATURE -->


	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td>
	<h1>Safer Shopping Online</h1>	
	<h2>The steps that our site takes to ensure your privacy and security</h2>
	<h3>Our site uses Thawte 128bit SSL certification.</h3>
	</td>
	</tr>
	<tr>
	<td valign="top">
	<img src="images/padlock.jpg" width="200" border="0" alt="this is a secure site" align="left" hspace="10" vspace="10">
	<h4>Credit Card Processing</h4>
	<p>All of our credit card processing takes place under the watchful eye of SecPay Limited. Secpay are a UK leader in secure credit card processing services and are authorised by all the major high-street banks, building societies and credi/debit card issuers such as VISA and Mastercard to take your payments on our behalf. SecPay operate a very strict policy in terms of how they deal with your credit/debit card information and even our customer services staff are nor able to view your complete information. All of your credit/debit card information is stored securely with SecPay Limited and is stored in secure datacentre locations and not in our offices.</p>
	<h4>Secure 128bit SSL Certificates</h4>
	<p>At any point in our site or the SecPay payment system that you are requested to enter any payment information, we employ 128bit SSL certificates to encrypt the conversation between your computers Internet browser and our servers so that any information that is sent cannot be snooped upon during it's journey across the Internet.</p>
	</td>
	</tr>
	</table>


	<!-- /CONTENT SECTION FEATURE -->

<#include:includes/bottom.html#>
