<#include:includes/top.html#>
<div id="mainContainerInner" class="medium-12 columns">
    <div class="row mrgBtm50">
        <div class="medium-6 columns">
            <img src="images/pupil_teacher.jpg" alt="" style="width:100%;">
        </div>
        <div class="medium-6 columns">
            <h1>School &amp; College Laundry Equipment</h1>
            <p>MAG Laundry Equipment have been supplying this sector for many years. We fully understand the importance 
                of laundry equipment in all schools, colleges &amp; universities all over the country.</p>
            <p>From schools to universities, they all demand the utmost level of cleanliness and efficiency and we are dedicated to providing only the very best laundry 
                equipment to all our customers. </p>
            <p>All our commercial laundry equipment meets all the up-to-date national care standard WRAS approval and of course the Health and Safety Guidelines HSG (95)18 
                programs are as standard on all our commercial washing machines.</p>
            <a class="button" href="https://maglaundryequipment.co.uk/contact-mag-laundry-equipment-supplier/">Contact Us Today</a>
        </div>
    </div>
    <div class="row mrgBtm50">
        <div class="medium-12 columns">
            <p><img src="images/hull_college_logo.jpg" class="alignleft">
                Hull College (East Yorkshire) asked MAG Equipment to redesign and supply new commercial laundry equipment into their laundry room over the summer holidays. 
                Hull College had encountered poor service from their previous equipment suppliers and are now into their first year trouble free.</p>

        </div>
    </div>
</div>
<#include:includes/bottom_sidebar.html#>
<#include:includes/bottom.html#>