<#include:includes/top.html#>

<h1>Running</h1>
<p>Generally, water is pre-heated by your gas boiler and stored until required, stored
externally to your washing machines this by far is the cheapest way. However, if space
is a problem. Machines are available with internal heaters. Dryers are invariably gas
heated as the running costs of gas is 5 times less than of
electric ones.</p>
<p>Not forgetting the shop! After all the equipment and
plant machinery is installed you will need to box in and secure
all the machine and meet all health and safety guidelines.
Sound a lot of work?</p>
<p><strong>Launderette's & counter drop off laundrys are hear to stay with at least one new shop
opening every few months in the UK, weather you are an unmanned system or fully staffed
catering for service washers and even ironing service, after all the hard work the returns
can be phenomenal.</strong></p>
<#include:includes/bottom.html#>
