<#include:includes/top.html#>

<h1>Behind the Scenes</h1>
<br>

<p>
<strong>One of the main parts of the laundrette which are not normally seen by the public
is commonly known as the boiler room. This section will be the home to your water
storage tank / boiler & pump.</strong></p> <p>Older launderettes always seemed to have a tank that
would supply 10 x launderettes to me.
Water storage is around 300/500gallon depending again on the style of machines
but most modern shops now utilise the space and design and build a tank (preferably
in stainless steel) in the space they decide this is not the cheapest way but by far the
best long term.</p>
<dl><dt>Machines & plant equipment for a typical launderette</dt>

<dd>3 x 7kg capacity washing machines</dd>
<dd>2 x 10kg capacity washing machines</dd>
<dd>1 x 16kg capacity washing machines</dd>
<dd>5 x 30lb capacity gas dryers</dd>
<dd>1 x 50lb capacity gas dryer</dd>
<dd>1 x water storage tank</dd>
<dd>1 x gas heat boiler</dd>
<dd>1 x main pressure pump</dd>
<dd>Plinth work for washing machines</dd>

</dl>

<p>New equipment looks great in your new shop but make sure you don't stretch
your budget, always allow at least 3/5k for the unexpected bill or alteration you may
need to implement.</p>
<p><span class="dark_b">Used Equipment can be a real saver on your capital expenditure by sometimes
up to 50%.</span></p>
<p> Most commercial washing machines & dryers are designed to run for 20yrs
plus.
Other sundry equipment and fittings
Installation of the machines (this should be carried out by the professionals) DIY
jobs can and sometimes invalidates your warranty if the equipment is installed incorrectly.
Ducting and ventilation work will need to be carried out for the dryers
Drainage for the washing machines.

</strong></p>
<p><a href="javascript:history.back()">Back</a></p>
<#include:includes/bottom.html#>