<#include:includes/top.html#>
<div id="mainContainerInner" class="medium-12 columns">
    <h1 style="text-align: center">Setting Up a Launderette</h1>
    <div class="row mrgBtm50">
        <div class="medium-6 columns">
            <img src="images/considering_launderette.jpg" alt="Thinking of starting your own launderette?">
        </div>
        <div class="medium-6 columns">
            <h2>HOW TO SET UP A LAUNDERETTE OR LAUNDRY</h2>
            <p>Over the past 16 years MAG have been involved in all aspects of the commercial laundry industry, starting as a service engineer in my early years. I have repaired them, installed
                them, owned my own launderettes & commercial laundries, moving through the system until eventually being a director of MAG Equipment Ltd.</p>
            <p>I had years of meeting and talking to shop owners all over the country, and from that I have compiled just a few thoughts and tips to help you on your way in successfully
                opening your new business.</p>
            <p><strong>WE ALSO OFFER A FREE INFO PACK CALL MAG EQUIPMENT FREE <a href="tel:08000288525">0800 028 8525</a>.</strong></p>
            <a class="button" href="https://maglaundryequipment.co.uk/contact-mag-laundry-equipment-supplier/">Contact Us Today</a>
        </div>
    </div>
    <div class="row mrgBtm50">
        <div class="medium-6 columns">
            <h2>Choosing A Location</h2>
            <p>"Location Location Location."</p>
            <p>When looking for your premises you should try to make sure there is easy parking either outside or close by to your proposed site,
                allowing customers an easy drop off and collection point. Remember that all new proposed sites require planning permission from your local council.</p>

            <h3>Area</h3>
            <p>You should have a good social mix of council tenants and privately owned properties close by, even better if there is a large bed-sit area or college where students
                invariably reside.</p>
            <h3>Property</h3>
            <p>You will need to talk to your local suppliers of GAS / WATER and ELECTRIC,this is a very important part of the set-up as these are the 3 main running cost of your new business.</p>

        </div>
        <div class="medium-6 columns">
            <h3>Gas</h3>
            <p>A standard launderette would require a 2" gas main 1000,0000.btus but this will depend on the equipment you will be using (check specifications first).</p>
            <h3>Electricity</h3>
            <p>Although you can run most modern machines now on standard 1phase (single phase) you will have a much wider choice on equipment (if you decide to use reconditioned machines) most of these will be 3phase 415volts. Again check with
                your machine specifications and your local supplier.</p>
            <h3>Water</h3>
            <p>In a launderette set-up, as you may well imagine, one of the biggest supplies is water. This can be run into a water storage tank or 
                tanks. Again, please check the machine's specification and remember that all washing machines are not the same.</p>
        </div>
    </div>
    <div class="row mrgBtm50">
        <div class="medium-3 columns">
            <p><img src="images/washerstacks.jpg" alt="Commercial Washing Machine Stacks"></p>
        </div>
        <div class="medium-9 columns">
            <h3>Equipment</h3>            
            <p>Ideally, on start up you should allow yourself extra space if possible, as this could be utilised if you find that at a later stage you 
                need to expand the launderette, due to income generation.</p>
            <p>A basic size launderette would generally consist of between 6 to 8 washing machines and 6 to 8 tumble dryers. The washing machines being 
                7kg / 10kg for service washing & 16kg machine for larger loads and duvet processing. The dryers would be 30 to 35lb capacity (ideally gas 
                heated) single pocket style and if space is a problem then stack dryers are available, with a 50lb dryer capacity to service the larger 
                wash loads. </p>
        </div>
    </div>
    <div class="fullwidth-row">
        <div class="row mrgBtm50">
            <div class="medium-6 columns">
                <p><img src="images/washers.jpg" alt="Commercial Washing Machines" style="width:100%;"></p>
            </div>
            <div class="medium-6 columns">
                <h3>Behind the Scenes</h3>
                <p>One of the main parts of the laundrette which is not normally seen by the public is commonly known as the boiler room. 
                    This section will be the home to your water storage tank / boiler & pump.</p> 

                <p>Older launderettes always seemed to have a tank that would supply 10 x launderettes to me. Water storage is around 300/500 gallons 
                    depending, again, on the style of machines but most modern shops now utilise the space and design and build a tank (preferably in 
                    stainless steel) in the space they decide this is not the cheapest way but by far the best long term.</p>
                <a class="button" href="https://maglaundryequipment.co.uk/contact-mag-laundry-equipment-supplier/">Contact Us Today</a>

            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns">
                <h3>2016 THIS IS A RECENT LAUNDERETTE WE'VE JUST SUPPLIED AND FITTED</h3>
                <p>New equipment looks great in your new shop but make sure you don't stretch your budget. Always allow at least 3/5k for the unexpected 
                    bill or alterations you may need to implement.</p>
                <p><span style="color: #008080;">FOR A FREE INFO PACK CALL 08000 288 525</span></p>
                <p><strong>Machines & plant equipment for a typical launderette</strong></p>
                <p>Used Equipment can be a real saver on your capital expenditure by sometimes up to 50%.</p>

            </div>
            <div class="medium-6 columns">   
                <img src="http://maglaundryequipment.co.uk/wp-content/uploads/2015/09/IMG_2417.jpg" alt="coin operated washing machines in launderette " width="500" height="375" /> coin operated washing machines in launderette
            </div>
        </div>
    </div>
    <div class="row mrgBtm50">
        <div class="medium-6 columns">
            <h3>Other Sundry Equipment and Fittings</h3>
            <p>Installation of the machines should be carried out by the professionals. DIY jobs can sometimes invalidate your warranty if the equipment 
                is installed incorrectly. Ducting and ventilation work will need to be carried out for the dryers. Drainage for the washing machines.</p>
            <p>Most commercial washing machines &amp; dryers are designed to run for 20 years plus. </p>
            <ul>    
                <li>3 x 7kg capacity washing machines</li>
                <li>2 x 10kg capacity washing machines</li>
                <li>1 x 16kg capacity washing machines</li>
                <li>5 x 30lb capacity gas dryers</li>
                <li>1 x 50lb capacity gas dryer</li>
                <li>1 x water storage tank</li>
                <li>1 x gas heat boiler</li>
                <li>1 x main pressure pump</li>
                <li>Plinth work for washing machines</li>
            </ul>

        </div>
        <div class="medium-6 columns">
            <h3>Activities</h3>
            <p>The most successful launderettes are those who offer more than just a self-service facility for washing & drying. Some of these additional services include:</p>
            <ul>
                <li>Duvet Cleaning Service.</li>
                <li>Drop Off & Pick-Up Service.</li>
                <li>Shirt Laundry.</li>
                <li>Local Contracts i.e Hair Salons / Hotels / Restaurants / etc.</li>
                <li>Ironing Service (This is very popular with most income couples).</li>
            </ul>

        </div>
    </div>
    <div class="fullwidth-row">
        <div class="row">
            <div class="medium-6 columns"><img src="images/runninglaundrette.jpg" alt="Laundrette Machines" style="width:100%;"></div>
            <div class="medium-6 columns">
                <h3>Running</h3>
                Generally, water is pre-heated by your gas boiler and stored until required, stored
                externally to your washing machines this by far is the cheapest way. However, if space
                is a problem. Machines are available with internal heaters. Dryers are invariably gas
                heated as the running costs of gas is 5 times less than of
                electric ones.</p>
                <p>Not forgetting the shop! After all the equipment and plant machinery is installed you will need to box in and secure all the machine and meet all health and safety guidelines.
                    Sound a lot of work?</p>
                <p><strong>Launderettes are here to stay with at least one new shop opening every month in the UK. Whether you are an unmanned system or fully staffed 
                        catering for service washers and even ironing service, after all the hard work, the returns can be phenomenal. FOR MORE INFORMATION AND A FREE INFO PACK CALL MAG EQUIPMENT FREE 08000288525.</strong></p>
            </div>
        </div>
    </div>
</div>
<#include:includes/bottom_sidebar.html#>
<#include:includes/bottom.html#>