<#include:includes/top.html#>

<h1>Equipment New Or Reconditioned</h1>
<p><strong>Ideally, on start up you should allow yourself extra space if possible, as this could be utilised if you find that at a later stage you need to expand the launderette, due to income generation.</strong></p>
<p>A basic size launderette would generally consist of between 6 to 8 washing machines and 6 to 8 tumble dryers. The washing machines been 7kg / 10kg for service washing &amp; 16kg machine for larger loads and duvet processing.</p>
<p>The dryers would be 30 to 35lb capacity (ideally gas heated) single pocket style and if space is a problem then stack dryers are available,with a 50lb dryer capacity to service the larger wash loads.</p>
<#include:includes/bottom.html#>
