<#include:includes/top.html#>
<h1>Activities</h1>
<p>The most successful launderettes are those who offer more than just a self-service facility for washing & drying.</p>
<ul>
    <li>Some of these additional services include:</li>
<li>Duvet Cleaning Service.</li>
<li>Drop Off & Pick-Up Service.</li>
<li>Shirt Laundry.</li>
<li>Local Contracts i.e Hair Salons / Hotels / Restaurants / etc.</li>
<li>Ironing Service (This is very popular with most income couples).</li>
</ul>
<#include:includes/bottom.html#>