<#include:includes/top.html#>

<h1>Ordering Online</h1>

<p><span class="dark_b">Ordering Online with us is safe and secure!</span></p>

<div id="terms_use">We employ a method of interaction with our visitors that does not compromise credit card information. This online system is 100% secure.</div><br>

<div id="terms_use">A note about the Fair Credit Billing Act. Under this act, your bank limit your total loss and cannot hold you liable for than fifty dollars of reported fraudulent charges. In the event your card is used in a fraudulent manner, you must notify your bank or card issuer immediately and in accordance with its reporting rules and procedures.</div><br>

<div id="terms_use">We encourage you to feel comfortable using your credit card to conduct commerce on our site. If you wish, you may also send us a cheque made payable to Mag UK. Personal cheque will delay your order as we must wait for your funds to clear before we ship any merchandise.</div><br>

<div id="terms_use">Please allow an additional 7-10 business days for shipping of your merchandise if paid by personal cheque. To order by cheque, just print the order form with your shopping cart contents from the order confirmation page and complete the necessary fields, then mail the form to the address above.For all business transactions please allow up to 7 working days for delivery. All items must be paid for in full prior to delivery of equipment.</div><br>

<p><span class="dark_b">Return / Refund Policy</span></p>

<div id="terms_use">Every item we sell is carefully inspected before it is shipped. If merchandise is defective or damaged upon receipt please contact us immediately after your package arrives for a return authorization claim number. All claims MUST be made within 3 days of receipt of order. Shipping charges will not be refunded. Returned products must be in absolutely new and unused condition for refund.</div>

<div id="terms_use">Cancellation terms are within 7 days from order. If equipment has been delivered you will be charged 15% handling fee.</div><br>
<p><span class="dark_b">Shipping Information</span></p>

<div id="terms_use">Shipping charges are calculated on a per-product basis. Please make note of the shipping charges associated with each item.Please request information for export of equipment.</div><br>

<#include:includes/bottom.html#>
