<#include:includes/top.html#>
	
	<!-- CONTENT SECTION FEATURE -->


	<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
	<td>
	<h1>Mailing List</h1>
	</td>
	</tr>
	
	<tr>
	<td valign="top">

<!-- TERMS -->





<p>Thank you for your interest in our newsletter mailing list. We have sent a confirmation email to the address you supplied. You will need to click the link contained in the email to complete the subscription.</p>
		</div>

<!-- /TERMS -->

	</td>
	</tr>
		
	</table>


	<!-- /CONTENT SECTION FEATURE -->

<#include:includes/bottom.html#>