<#include:includes/top.html#>
<div id="mainContainerInner" class="medium-12 columns">
    <div class="row mrgBtm50">
        <div class="medium-6 columns">
            <img src="images/dog.jpg" alt="" style="width:100%;">
        </div>
        <div class="medium-6 columns">
    <h1>Veterinary Laundry Equipment</h1>
    <p>MAG Laundry Equipment have been supplying this sector for many years. We fully understand the importance of laundry equipment in all Vets and Animal Care Business.</p>
    <p>The Animal Health industry demands the utmost level of cleanliness and efficiency and we are dedicated to providing only the very best laundry equipment to 
        all our customers. </p>
    <p>All our commercial laundry equipment meets all the up-to-date national care standard WRAS approval and of course the Health and Safety Guidelines HSG (95)18 
        programs are as standard on all our commercial washing machines.</p>

    <p><img src="images/cats_protection.jpg" class="alignleft">Cat Protection have over 70 animal rescue units throughout the UK and Ireland. MAG offer the group rapid service response and reliable laundry equipment at 
        the right price. Like most animal rescue centres, the cat protection operates 24 hours a day with high laundry demands.</p>
        </div>
    </div>
</div>
<#include:includes/bottom_sidebar.html#>
<#include:includes/bottom.html#>