<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<TITLE>Laundry Equipment, Commercial Washing Machine, Commercial Laundry, Commercial Dryers - Mag equipment ltd</TITLE>
<META NAME="description" CONTENT="{meta.description}">
<META NAME="keywords" CONTENT="{meta.keywords}">
<#include:includes/top.html#>
<table>
	<tr>
		<td>
			<h1>MAG OFFER- Trade in your old Commercial laundry equipment NOW! save up-to £500 Trade-In........ Call us now and trade in your old machines "WORKING OR NOT"</h1><br>
			<img src="images/trade_in_banner_large.jpg" align="center" border="0" alt="Trade in your old washer and receive up to £500">
		</td>
	</tr>
</table>

<#include:includes/bottom.html#>
